services:
  frontend:                            
    build: ./frontend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:                            
      - backend                        
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env    
    depends_on:
      - dmr
  dmr:
    provider:
      type: model
      options:
        model: ${LLM_MODEL_NAME}   

